<li>
    <a class="active-menu" href="~/"><i class="fa fa-dashboard fa-3x"></i> Home</a>
</li>
<li>
    <a href="~/Account"><i class="fa fa-desktop fa-3x"></i> 修改客戶資料</a>
</li>
<li>
    <a href="~/客戶資料"><i class="fa fa-desktop fa-3x"></i> 客戶資料清單</a>
</li>
<li>
    <a href="~/客戶聯絡人"><i class="fa fa-qrcode fa-3x"></i> 客戶聯絡人清單</a>
</li>
<li>
    <a href="~/客戶銀行資訊"><i class="fa fa-bar-chart-o fa-3x"></i> 客戶銀行資訊清單</a>
</li>
<li>
    <a href="~/Quantity"><i class="fa fa-table fa-3x"></i> 數量清單</a>
</li>
<li>
    <a href="~/Home/About"><i class="fa fa-edit fa-3x"></i> 關於</a>
</li>
<li>
    <a href="~/Home/Contact"><i class="fa fa-square-o fa-3x"></i> 連絡人</a>
</li>